/* Default to Dark Mode */
:root {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --button-bg: #28a745;
  --button-text-color: white;
  --button-hover-bg: #218838;
  --table-bg-dark: #2c2f33; /* Dark gray for dark mode */
  --table-bg-light: #faf0e6; /* Cream color for light mode */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  width: 90%;
  max-width: 480px; /* Limit the max width for mobile */
  margin: 50px auto;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #FFFFFF;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

select, input[type="range"], button {
  margin-bottom: 15px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="range"] {
  width: 100%;
}

output {
  font-size: 16px;
  margin-top: 5px;
}

button {
  background-color: var(--button-bg);
  color: var(--button-text-color);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
}

button:hover {
  background-color: var(--button-hover-bg);
}

/* Light Mode */
.light-mode {
  --background-color: #ffffff;
  --text-color: #333333;
  --button-bg: #007bff;
  --button-text-color: white;
  --button-hover-bg: #0056b3;
  --table-bg-dark: #2c2f33; /* Dark gray for dark mode */
  --table-bg-light: #faf0e6; /* Cream color for light mode */
}

#mode-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  z-index: 1000;
}

#mode-toggle:hover {
  background-color: #555;
}

/* Table Styles */
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: var(--table-bg-dark); /* Default to dark gray for dark mode */
  border-radius: 8px;
}

table.light-mode {
  background-color: var(--table-bg-light); /* Cream color for light mode */
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #444;
  color: white;
}

tr:hover {
  background-color: #ddd;
}

/* Mobile Responsiveness */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
    color: #FFFFFF;
  }

  .container {
    padding: 15px;
    margin: 20px auto;
  }

  label {
    font-size: 14px;
  }

  select, input[type="range"], button {
    font-size: 14px;
    padding: 10px;
  }

  output {
    font-size: 14px;
  }

  table th, table td {
    font-size: 14px;
  }

  table {
    margin-top: 15px;
  }
}
